out
.idea
.settings
.settings.xml
.settings.gradle
.settings.gradle.kts
java-challenges.iml
.idea_modules
.idea_modules.iml
.idea_modules.iml.xml
.idea_modules.iml.xml.zip
.idea_modules.iml.zip
.idea_modules.iml.zip.zip
.idea_modules.iml.zip.zip.zip
.idea_modules.iml.zip.zip.zip.zip
.vscode
.vs
